<h1>Planes de subscripción</h1>
<div class="card-container">
  <mat-card>

      <mat-card-title>
        Freemium
      </mat-card-title>
    <mat-card-subtitle>
      <p>Gratis</p>
    </mat-card-subtitle>


    <mat-card-content>
      <p>Dos Viajes Por Dia</p>
      <p>Anuncios Incluido</p>
      <p>Opcioneslimitadas</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/subscription-plans/fremium">Ingresar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>

      <mat-card-title>
       Estudiante
      </mat-card-title>

      <mat-card-subtitle>
        <p>S/. 15 soles</p>
      </mat-card-subtitle>
    <mat-card-content>
      <p>Viajes Ilimitados</p>
      <p>Acumulación De Puntos Por Viaje Realizado</p>
      <p>Puntos(2x)</p>
     <p> Opción De Reservar Mas De Un Asiento</p>
      <p>Llevar Un Acompañante 4 Veces Durante El Mes</p>
     <p> Participación En Sorteos Mensuales</p>
     <p> Calificación De Conductores</p>
     <p> Descuentos Exclusivos En Establecimientos Afiliados</p>
     <p> Acceso A Eventos Especiales Para Miembros Premium</p>
     <p> Atención Al Cliente Prioritaria</p>
      <p>Descripción del plan Estudiante.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/subscription-plans/estudiante">Comprar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>

      <mat-card-title>
        Conductor
      </mat-card-title>

    <mat-card-subtitle>
      <p>S/. 20 soles</p>
    </mat-card-subtitle>

    <mat-card-content>
      <p>Acumulación De Puntos Canjeables</p>
      <p>  Personalizacion De Precios En Un Rango Determinado</p>
      <p>  Notificaciones En Tiempo Real Para Mantener A Los Usuarios Informados</p>
      <p>  Reservas Anticipadas Para Planificar Viajes Con Anticipación</p>
      <p>  Mayor Visibilidad Como Opción Entre Conductores</p>
      <p>  Acceso A Eventos Especiales Para Miembros Premium</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/subscription-plans/conductor">Comprar</button>
    </mat-card-actions>
  </mat-card>
</div>


