<h1>Planes de subscripción</h1>
<div class="card-container">
  <section class="planes" id="planes">
    <div class="pricing-wrapper clearfix">


      <mat-card class="pricing-table">
          <mat-card-title>Fremium</mat-card-title>
          <mat-card-subtitle>S/. 0/mes</mat-card-subtitle>
        <mat-card-content>
          <p>dos viajes por dia</p>
          <p>anuncios incluido</p>
          <p>opciones limitadas</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="#">Ingresar</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="pricing-table recommended">
          <mat-card-title>Premium conductor</mat-card-title>
          <mat-card-subtitle>S/20.00/mes</mat-card-subtitle>
        <mat-card-content>
          <p>acumulación de puntos canjeables</p>
          <p>personalizacion de precios en un rango determinado</p>
          <p>notificaciones en tiempo real para mantener a los usuarios informados</p>
          <p>reservas anticipadas para planificar viajes con anticipación</p>
          <p>Mayor visibilidad como opción entre conductores</p>
          <p>Acceso a eventos especiales para miembros premium</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="#">Comprar</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="pricing-table recommended">

          <mat-card-title>PREMIUM estudiante</mat-card-title>
          <mat-card-subtitle>S/15.00/mes</mat-card-subtitle>

        <mat-card-content>
          <p>viajes ilimitados</p>
          <p>Acumulación de puntos por viaje realizado</p>
          <p>Puntos(2x)</p>
          <p>Opción de reservar mas de un asiento</p>
          <p>Llevar un acompañante 4 veces durante el mes</p>
          <p>Participación en sorteos mensuales</p>
          <p>calificación de conductores</p>
          <p>Descuentos exclusivos en establecimientos afiliados</p>
          <p>Acceso a eventos especiales para miembros premium</p>
          <p>Atención al cliente prioritaria</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="#">Comprar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
